<h2><span data-i18n="skills.my_skills">Projects</span></h2>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for project in site.data.index.projects %}
        <div class="archive-title"><div class="archive-year"><strong>{{ project.name }}</strong> </div></div>
        <ul>
            <li><p>{{ project.descr }}</p></li>

            {% if project.github %}
            <a href="{{ project.github }} "><i class="fa fa-fw fa-github"></i>GitHub</a>
            {% endif %}
            {% if project.website %}
            <a href="{{ project.website }} "><i class="fa fa-fw fa-home"></i>Homepage</a>
            {% endif %}
            {% if project.file %}
            <a href="{{ site.url }}/{{ project.file }} "><i class="fa fa-file-archive-o"></i>ZipFile</a>
            {% endif %}
        </ul>
    {% endfor %}
  </div>
</div>