<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container-fluid" id="main-layout">
      <div class="sidebar col-sm-12 col-md-3">
        {% include sidebar.html %}
      </div>
      <div class="content col-sm-12 col-md-9">
        {{ content }}
        <!--  jQuery 1.7+  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Material button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- Include js plugin -->
    <script src="../src/material-scrolltop.js"></script>

    <!-- Initialize -->
    <script>
        $(document).ready(function() {
            $('body').materialScrollTop({
                revealElement: 'header',
                revealPosition: 'bottom',
                onScrollEnd: function() {
                    console.log('Scrolling End');
                }
            });
        });
    </script>
        {% include footer.html %}
      </div>
    </div>



  </body>

  {% include js.html %}

{% include google_analytics.html %}
</html>
